/*
	Inserta tu CSS aqui
*/
.fondo{
       width: 960px;
       height: 480px;
       background-image: url("../img/grupal.jpg");
       background-size: 960px;
       margin-top: 0px;
       margin-bottom: 40px;
       margin-left: 30px;
       bottom: 200px;
}

.logo{
	  width: 60%;
	  height: 60%;
	  margin-top: 40px; 
	  position:relative;
	  right: -350px;    
}

.caja{
  width: 80px;
  height: 30px;
  text-align: center;
  padding-top: 10px;
  font-size: 10px;
  background-color: #F3C149;
  position:relative;
  margin-top: -15px;
  margin-left: 230px;
}

 nav ul{
       list-style-type: none;
       padding-top: 3px;
       margin:20px;
       float: right;
       font-size: 9px;
       line-height: 5px;
       line-height: 14px;
       text-transform: uppercase;
       white-space: nowrap;
 }

 nav li{
       position: relative;
       right: 180px;
       float: left;
       margin: 0;
       padding: 0;
}

nav li:hover a{
  background: #585858;
}

nav a{
  text-decoration: none;
  padding:  10px 15px;
  color: #000000;
  text-shadow: 2px 2px 4px #000;
}

nav a:hover{
  color: #EDC13B;
}

.trio{
     width: 200px;
     height: 150px;
     margin-left: 35px;
     margin-top: 15px;
    }

.pie{
     width:200px;
     height: 20px;
     background-color: orange;
     margin-left: 35px;
     font-size: 10px;
     margin-top: -24px;
     text-align: center;
     position: relative;
     padding-top: 5px;
}     

footer{
  width: 960px;
  height: 40px;
  background-color: #19191D;
  margin-top: 200px;
  position: relative;
  margin-bottom: 40px;
  margin-left: 30px;
  bottom: 100px;
}  

p{
  color: white;
  font-size: 9px;
  margin-top: 13px;
  text-align: center;
  position: relative;
  left: 100px;


}